<div id="<%= dom_id chart %>">
  <p>
    <strong>Title:</strong>
    <%= chart.title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= chart.subtitle %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= chart.description %>
  </p>

  <p>
    <strong>Chart type:</strong>
    <%= ChartType.find(chart.chart_type_id).name %>
  </p>

  <p>
    <strong>Chart data:</strong>
    <%= chart.chart_data.to_s %>
  </p>

  <p>
    <strong>Chart settings:</strong>
    <%= chart.chart_settings %>
  </p>

  <p>
    <strong>User:</strong>
    <%= chart.user_id %>
  </p>

</div>
