<div id="<%= dom_id chart_type %>">
  <p>
    <strong>Name:</strong>
    <%= chart_type.name %>
  </p>

  <p>
    <strong>Display Name:</strong>
    <%= chart_type.display_name %>
  </p>

  <p>
    <strong>Chart settings:</strong>
    <%= chart_type.chart_settings %>
  </p>

  <p>
    <strong>Chart format:</strong>
    <%= chart_type.chart_format %>
  </p>

</div>
